<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>Latest News</title>

        <!-- Bootstrap core CSS -->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <link href="../static/css/basic.css" rel="stylesheet" th:href="@{/css/basic.css}"/>
    </head>
    <body>
        <div class="container">
                <div class="page-header justify-content-center mb-3">
                    <h1>Latest News</h1>
                </div>
                <div class="row" th:each="story: ${stories}">
                    <div class="col-12 mb-3">
                        <button class="btn btn-link" th:attr="data-target='#id' + ${story.id}"
                                style="text-decoration: underline;"
                                data-toggle="collapse" th:text="${story.title}">
                        </button>
                        <div class="collapse" th:id="'id'+${story.id}">
                            <div class="card card-body" style="border: none;">
                                <span th:text="'Score -> ' + ${story.score}"></span>
                                <br>
                                <span th:text="'Author -> ' + ${story.username}"></span>
                                <br>
                                <span th:text="'Created at -> ' + ${#dates.format(story.createdAt * 1000, 'dd-MMM-yyyy')}"></span>
                                <br>
                                <a th:href="${story.url}" th:text="'Link -> ' + ${story.url}"/></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </body>

</html>